* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 1s;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
  --switch-transition-bg-url: url(./assets/sun.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.05);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
  --switch-transition-bg-url: url(./assets/moon-stars.svg);
}

body {
  background-image: var(--bg-url);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 100vh;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  padding: 24px;
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/* switch */

#switch {
  position: relative;
  margin: 4px auto;
  width: 64px;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -15%;
  left: 0;
  z-index: 1;
  transition: transform 0.5s;
}

#switch button:hover {
  background: rgb(255, 255, 255) var(--switch-transition-bg-url) no-repeat
    center;
  transform: rotate(-90deg);
  transition: 0.4s;
}

.light #switch button {
  right: 0;
  left: initial;
  transform: rotate(-90deg), translate(5%, 0%);
  transition: 0.5s ease;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  border-radius: 9999px;
  border: 1px solid var(--stroke-color);
  background: var(--surface-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: 0.5s;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
}

/* links */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  transition: background 0.2s;
  cursor: pointer;
}

/* pseudo-selector */
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

#texto {
  display: none;
}

/* social links */
#social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin: 24px auto;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.3s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  color: var(--text-color);
  font-size: 14px;
  padding: 24px 0;
  text-align: center;
  cursor: default;
}

footer p {
  display: inline;
  color: var(--text-color);
  transition: all 0.4s;
}

#heart:hover {
  font-size: 24px;
  color: #ff0000;
  transition: 0.4s ease;
}

/* media queries */
@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }
  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}